.form-sub-heading {
    background-color: #222D32;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    display: block;
    padding-bottom: 33px;
}

.arrows{
    background-color: #BFCDDB;
    border-radius: 5px;
}

.before-sort {
    background-color: #fff;
    padding: 10px;
    -webkit-transition: all 1s ease ;
   -moz-transition: all 1s ease ;
   transition: all 1s ease ;
}

.sort-hightlight {
    background-color: #ccc;
    padding: 10px;
    -webkit-transition: all 1s ease ;
   -moz-transition: all 1s ease ;
   transition: all 1s ease ;
}

.add:before    { 
    content: "\2709"; 
    background-color: rebeccapurple;
}

.add{
    background-color: rebeccapurple;
}

.criticsbut{
     background-color: rebeccapurple;
}

.btn {
    position: relative;   
    padding: 0;
    margin: 2px,2px;
    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: #ecf0f1;
    
    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #3c8dbc;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 3px 15px;
    font-size: 1.0em;
}

.btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
        
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
  
    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
    box-sizing: border-box;
}
